@using IRB.RevigoWeb;
@{
    bool bRequireGRPR = WebUtilities.TypeConverter.ToBoolean(ViewData["RequireGDPR"]);
	GDPRTypeEnum eGDPRType = GDPR.GetGDPRState(Context);
}
<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>@ViewData["Title"]</title>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <script type="text/javascript" src="@Url.Content("~/js/jquery-3.6.0.min.js")"></script>
    <link href="@Url.Content("~/js/jquery-ui-1.13.1/jquery-ui.css")" rel="stylesheet" />
    <script type="text/javascript" src="@Url.Content("~/js/jquery-ui-1.13.1/jquery-ui.js")"></script>
    <link href="@Url.Content("~/css/styles.css")" rel="stylesheet" type="text/css" />
    @RenderSection("HeaderScripts", required: false)
    <style type="text/css">
        .no-close .ui-dialog-titlebar-close {
            display: none;
            width: 0;
        }

        .no-close .ui-dialog-title {
            width: 100%;
            font-size: 10pt;
            text-align: center;
            float: left;
            margin: 0.3em 0;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }

        .ui-widget-content {
            border: none;
            background: white;
            color: #222222;
            padding: 5px;
        }

        .no-close .ui-dialog-content {
            font-size: 10pt;
        }

        .ui-dialog .ui-dialog-buttonpane {
            border-width: 1px 0 0 0;
            border-top: 1px solid black;
            background-image: none;
            margin-top: .5em;
            padding: .5em .4em .5em .4em;
        }

        .no-close .ui-dialog-buttonset {
            font-size: 10pt;
        }

        .ui-dialog .ui-dialog-buttonpane .ui-dialog-buttonset {
            float: none;
        }

        .ui-tooltip-content {
            font-size: 13px;
        }

        .ui-tooltip {
            max-width: 400px;
            background-color: LightYellow;
        }
    </style>
    @if (eGDPRType == GDPRTypeEnum.Full)
    {
        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script type="text/javascript" async="async" src="https://www.googletagmanager.com/gtag/js?id=G-RTQWB3F29M"></script>
        <script type="text/javascript">
            window.dataLayer = window.dataLayer || [];
            function gtag() { dataLayer.push(arguments); }
            gtag('js', new Date());
            gtag('config', 'G-RTQWB3F29M');
        </script>
    }
    @RenderSection("HeaderCSS", required: false)
</head>
<body style="background-image: url('@Url.Content("~/Images/wavy_top_short_fade.png")'); background-repeat: no-repeat">
    <div>
        <table class="logo">
            <tr>
                <td>
                    <a href="@Url.Content("~/")"><img src="@Url.Content("~/Images/revigo_logo_transparent_2.png")" alt="Revigo Logo" width="402" height="114" /></a>
                </td>
                <td style="width:95px;">
                    <a href="http://www.irb.hr/eng" target="_blank"><img id="IRBLogo" alt="Ruđer Bošković Institute" src="@Url.Content("~/Images/irb_logo_new_95x82.png")" title="Ruđer Bošković Institute" /></a>
                </td>
            </tr>
        </table>
        <div style="display:table; margin:10px auto 30px auto;">
            @RenderBody()
        </div>
    </div>
    <div class="site-footer">
        <div class="footer-main footer--row">
            <div class="footer--row-inner dark-mode">
                <div class="customify-container">
                    <div class="builder-item">
                        <div class="item--inner">
                            <a style="margin-right: 30px;" href="@Url.Content("~/")">Home</a>
                            <a style="margin-right: 30px;" href="@Url.Content("~/FAQ")">FAQ</a>
                            <a style="margin-right: 30px;" href="@Url.Content("~/TermsOfUse")">Terms Of Use</a>
                            <a style="margin-right: 30px;" href="@Url.Content("~/PrivacyPolicy")">Privacy Policy</a>
                            <a style="margin-right: 30px;" href="@Url.Content("~/Contact")">Contact Us</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div ID="pnlGDPR" title="Revigo values your privacy" style="display:none;">
        <p style="font-size: 10pt;"><strong>Why are you seeing this</strong></p>
        <p>
            Revigo needs your consent for data-processing purposes. These purposes include to store and/or
            access information on a device, like cookie management, to process your anonymous data by our service,
            and to process personal data such as standard information sent by a device and other unique
            identifiers for content and content measurement, audience insights and development.
        </p>
        <p>
            You may consent to the processing described above or access more detailed information on our
            <a href="@Url.Content("~/PrivacyPolicy")">Privacy Policy</a>
            and <a href="@Url.Content("~/TermsOfUse")">Terms Of Use</a> pages.
        </p>
        <p>
            The given consent will apply to this site only. Please take into consideration that some of
            your personal data processing rely on legitimate interest which does not require your
            consent but you have a right to object to this.
        </p>
        <p>
            You can choose only basic functionality, or you can allow us to collect additional data about
            your visit.
        </p>
    </div>
	@if (bRequireGRPR)
	{
		<script type="text/javascript">
			$.get('@Url.Content("~/GetCookieInfo")')
				.done(function (status)
				{
					if (status == undefined || (status.toString().toLowerCase() != "full" && status.toString().toLowerCase() != "basic"))
					{
						ShowGDPR();
					}
				})
				.fail(function ()
				{
					ShowGDPR();
				});

			function ShowGDPR()
			{
				$('#pnlGDPR').css("display","");
				$('#pnlGDPR').dialog({
					dialogClass: "no-close",
					resizable: false,
					draggable: false,
					height: "auto",
					width: 600,
					modal: true,
					create: function (event, ui)
					{
						$(event.target).parent().css('position', 'fixed');
					},
					buttons: [
					{
						text: "Accept only basic cookies",
						tabindex: -2,
						style: "float:left;",
						click: function ()
						{
							$(this).dialog("close");
							document.cookie = "RevigoCookie=basic; path=/";
							@if (ViewData["GDPRNoReload"] == null || !WebUtilities.TypeConverter.ToBoolean(ViewData["GDPRNoReload"]))
							{
								<text>location.reload(); </text>
							}
						}
					},
					{
						text: "Accept all cookies",
						tabindex: -1,
						style: "float:right;",
						click: function ()
						{
							$(this).dialog("close");
							document.cookie = "RevigoCookie=full; path=/";
							@if (ViewData["GDPRNoReload"] == null || !WebUtilities.TypeConverter.ToBoolean(ViewData["GDPRNoReload"]))
							{
								<text>location.reload(); </text>
							}
						}
					}]
				});
				window.addEventListener('resize', function ()
				{
					$('#pnlGDPR').dialog("option", "position", { my: "center", at: "center", of: window });
				});
			}
		</script>
	}
	<script type="text/javascript">
        $("#IRBLogo").tooltip();
    </script>
    @RenderSection("Scripts", required: false)
</body>
</html>
