@page
@model IRB.RevigoWeb.Pages.FAQModel
@{
	Layout = "_MasterLayout";
	ViewData["Title"] = "Frequently Asked Questions";
    ViewData["RequireGDPR"] = false;
}
@section HeaderCSS {
    <style type="text/css">
        .ui-accordion {
            font-size: 15px;
        }

        .ui-accordion-content {
            font-size: 12px;
        }
    </style>
}
<div style="max-width:950px; margin-left: auto; margin-right: auto" >
    <h1>Frequently Asked Questions</h1> 

    <div id="accordion">
        <h3 id="q01">What is a Revigo?</h3>
        <div><p>Revigo is a useful web based tool that summarizes long, unintelligible lists of GO terms by finding a representative 
            subset of the terms using a simple clustering algorithm that relies on semantic similarity measures. 
            You can visualize this non-redundant GO term set in multiple ways to assist in interpretation: 
            <a href="https://en.wikipedia.org/wiki/Multidimensional_scaling" target="_blank">Multidimensional Scaling (MDS)</a> and 
            graph based visualizations accurately render the subdivisions and 
            the semantic relationships in the data, while treemaps and tag clouds are also offered as alternative views.
            As of March 2022. we are happy to introduce 3D scatter plot, which gives more insight into relationships between GO terms.
            Learn more about Revigo in <a href="http://dx.doi.org/10.1371/journal.pone.0021800" target="_blank">our paper</a>.</p></div>
        <h3 id="q02">I have a list of interesting genes, but not a list of GO terms</h3>
        <div><p>You can use one of the following web servers to search for GO terms that 
            are overrepresented in your list of genes:</p>
            <ul>
                <li><a href="http://cbl-gorilla.cs.technion.ac.il/" target="_blank" title="Gene Ontology enRIchment anaLysis and visuaLizAtion tool">
                    GOrilla</a> (multiple eukaryotes)</li>
                <li><a href="http://bioinfo.cau.edu.cn/agriGO/" target="_blank" title="GO Analysis Toolkit for the Agricultural Community">
                    AgriGO</a> (many plants, several animals)</li>
                <li><a href="http://depts.washington.edu/l2l/" target="_blank" title="L2L Microarray Analysis Tool">
                    L2L</a> (human, mouse and rat)</li>
                <li><a href="http://go.princeton.edu/cgi-bin/GOTermFinder" target="_blank" title="Generic GOTermFinder">
                    GOTermFinder</a> (many species)</li>
                <li><a href="http://babelomics.bioinfo.cipf.es/" target="_blank" title="Functional enrichment analysis at the Babelomics server">
                    FatiGO</a> (multiple eukaryotes)</li>
            </ul>
            <p>After that, return here with the list of GO terms and p-values (or enrichments).</p></div>
        <h3 id="q03">I still don't have a list of interesting genes, but I'd like to try out my 
            favourite GO enrichment tool and then bring the output to Revigo to summarize 
            and visualize</h3>
        <div><p>Here are the links to two example gene sets, one from
            <a href="http://bioinfo.cau.edu.cn/agriGO/analysis.php" title="Arabidopsis genes overexpressed in cold treatment" target="_blank">
                agriGO</a> (click &quot;Example&quot;) and another one from <a href="http://david.abcc.ncifcrf.gov/summary.jsp" title="A list of human genes" target="_blank">
                DAVID</a> (click &quot;Demolist_1&quot;).</p>
        </div>
        <h3 id="q04">The species I work on is not in the species list in Advanced options</h3>
        <div><p>If the species you work on is not available in the list you can select (genetically speaking) its closest relative. 
            For example, for the chimpanzee, pig or other genetic relative, you can select human. The same applies to the plant family.
            For other cases the default value of the whole UniProt database is sufficient. You can request a new species to be added. Just send us a message via 
            <a href="@Url.Content("~/Contact")">Contact form</a>.</p>
        The list of currently supported species:<br />
        <table style="border: 1px solid black">
            <thead>
                <tr><td style="border-bottom: 1px solid black;"><b>NCBI taxon ID</b></td><td style="border-bottom: 1px solid black;"><b>Species name</b></td></tr>
            </thead>
            <tbody>
                <tr><td>0</td><td>Whole UniProt database (default)</td></tr>
                <tr><td>3702</td><td>Arabidopsis thaliana</td></tr>
                <tr><td>224308</td><td>Bacillus subtilis subsp. subtilis str. 168</td></tr>
                <tr><td>9913</td><td>Bos taurus</td></tr>
                <tr><td>6239</td><td>Caenorhabditis elegans</td></tr>
                <tr><td>3055</td><td>Chlamydomonas reinhardtii</td></tr>
                <tr><td>3827</td><td>Cicer arietinum</td></tr>
                <tr><td>7955</td><td>Danio rerio</td></tr>
                <tr><td>44689</td><td>Dictyostelium discoideum</td></tr>
                <tr><td>7227</td><td>Drosophila melanogaster</td></tr>
                <tr><td>83333</td><td>Escherichia coli K-12</td></tr>
                <tr><td>9031</td><td>Gallus gallus</td></tr>
                <tr><td>9606</td><td>Homo sapiens</td></tr>
                <tr><td>10090</td><td>Mus musculus</td></tr>
                <tr><td>83332</td><td>Mycobacterium tuberculosis H37Rv</td></tr>
                <tr><td>39947</td><td>Oryza sativa Japonica Group</td></tr>
                <tr><td>36329</td><td>Plasmodium falciparum 3D7</td></tr>
                <tr><td>208964</td><td>Pseudomonas aeruginosa PAO1</td></tr>
                <tr><td>10116</td><td>Rattus norvegicus</td></tr>
                <tr><td>559292</td><td>Saccharomyces cerevisiae S288C</td></tr>
                <tr><td>946362</td><td>Salpingoeca rosetta</td></tr>
                <tr><td>284812</td><td>Schizosaccharomyces pombe 972h-</td></tr>
                <tr><td>4081</td><td>Solanum lycopersicum</td></tr>
                <tr><td>1111708</td><td>Synechocystis sp. PCC 6803 substr. Kazusa</td></tr>
                <tr><td>31033</td><td>Takifugu rubripes</td></tr>
                <tr><td>8364</td><td>Xenopus tropicalis</td></tr>
                <tr><td>4577</td><td>Zea mays</td></tr>
            </tbody>
        </table>
        </div>
        <h3 id="q05">List of common terms used in Revigo and their meanings</h3>
        <div><ul>
            <li style="margin-bottom:10px;">Taxon ID - This is the taxon (organism) ID from the <a href="https://www.ncbi.nlm.nih.gov/guide/taxonomy/" target="_blank">NCBI organism taxonomy database</a>.</li>
            <li style="margin-bottom:10px;">Term ID - This is the Gene ontology (for short GO) term ID.</li>
            <li style="margin-bottom:10px;">Name - Name of the GO term as defined in Gene ontology.</li>
            <li style="margin-bottom:10px;">Value - This is the value (if any) that you provided alongside the GO term ID in your input data set. If pValues are given in data set they are transformed to Log10(pValue).</li>
            <li style="margin-bottom:10px;">Frequency - This is the proportion of selected GO term in the EBI GOA database for the selected species. Higher value implies more general terms, lower implies more specific ones.</li>
            <li style="margin-bottom:10px;">Uniqueness - Measures whether the term is an outlier when compared semantically to the whole list. Calculated as 1-(average semantic similarity of a term to all other terms). More unique terms tend to be less dispensable.</li>
            <li style="margin-bottom:10px;">Dispensability - The semantic similarity threshold at which the term was removed from the list and assigned to a cluster. Cluster representatives always have dispensability less than the user-specified 'allowed similarity' cutoff.</li>
            <li style="margin-bottom:10px;">LogSize - This is the Log10(Number of annotations for GO Term ID in selected species in the EBI GOA database).</li>
            <li style="margin-bottom:10px;">Similarity matrix - It is the matrix of the similarity between Terms determined by one of the Similarity measures used such as SIMREL, LIN, RESNIK and JIANG. See <a href="https://funsimmat.bioinf.mpi-inf.mpg.de/help3.php" target="_blank">Semantic similarity scores</a> for additional information.</li>
        </ul></div>

        <h3 id="q06">When I export the TreeMap to CSV, what does NULL (-1) value in "Representative" column means?</h3>
        <div><p>The column "Representative" tells which terms are classified as similar, 
            and one term which is marked as "Representative" of that group which has a NULL (-1) reference (the term represents itself).
            In previous versions of Revigo the column "Representative" was filled with representative ID, 
            but it was more accurate to mark it as NULL because that GO term doesn't have representative, it is the "Representative".</p>
        </div>
        <h3 id="q07">How can I create high quality drawings?</h3>
        <div>You have the following choices to make high quality drawings:
            <ul>
                <li>There is an Export to TSV option for every drawing. You can use raw data to create high 
                    quality drawings in your favorite visualization software,</li>
                <li>You can use Export to R script for plotting to create high quality drawings in R. 
                    You need to have basic programming skills in R to tailor these drawings to suit your needs,</li>
                <li>We have provided Export to SVG option for Tree map drawings. You can use Inkscape or Adobe Illustrator software to edit these. 
                    From there you can export these drawings in resolution that best suit your needs.
                    <span style="color:red;">The SVG format 1.1 still doesn't properly support text boxes 
                        (there is still ongoing work on SVG 2.0 specification which will solve these problems with text), 
                        so some of your text will be out of place or distorted and this is to be expected
                        (You can always edit text to correct these problems)</span>,</li>
                <li>3D scatter plot has an Export to X3D option (with labels). Please see this 
                    <a target="_blank" href="https://www.web3d.org/x3d-export-and-import">application list</a> for import/export capabilities.
                    For a simple X3D viewer (Windows and Linux) you can consider <a target="_blank" href="https://castle-engine.io/view3dscene.php">view3dscene</a>.</li>
            </ul>
        </div>
        <h3 id="q08">Where can I download the source code of Revigo standalone version?</h3>
        <div><p>The standalone version can be used to calculate your data offline. You can also use the source code in your code to process the data.<br />
            <span style="color:red;font-size:larger;">Please note that we offer absolutely no support for this standalone version.</span><br />
            There is also work in progress to publish updated standalone version, it is expected to be available at the end of year 2022.</p>
            <p style="font-size:larger;"><a href="https://drive.google.com/file/d/0B5DatCOXMaWveHNYRHo5VHZOQWM/view?usp=sharing&resourcekey=0-l1AKMG4CTQkcctespA9ZcA" target="_blank">Download Revigo standalone vesion</a></p>
        </div>
        <h3 id="q09">How do I integrate Revigo with my service or a programming language?</h3>
        <div><p>The integration with Revigo can be done with:</p>
        <div id="accordion1">
            <h3>The simple post method with user interaction and web browser to display the results</h3>
            <div>Post a form to the server (with cookies and java script enabled) at http://revigo.irb.hr/, for example:<br />
    <pre><code>&lt;html&gt;
&lt;head&gt;
    &lt;title&gt;Revigo integration page&lt;/title&gt;
&lt;/head&gt;
&lt;body&gt;
    &lt;form action="http://revigo.irb.hr/" method="post"&gt;
        &lt;textarea name="goList" cols="80" rows="10"&gt;&lt;/textarea&gt;&lt;br /&gt;
        &lt;input name="cutoff" type="text" value="0.70" /&gt;&lt;br /&gt;
        &lt;input name="valueType" type="text" value="pvalue"/&gt;&lt;br /&gt;
        &lt;input name="speciesTaxon" type="text" value="0"/&gt;&lt;br /&gt;
        &lt;input name="measure" type="text" value="SIMREL"/&gt;&lt;br /&gt;
        &lt;input name="removeObsolete" type="text" value="true"/&gt;&lt;br /&gt;
        &lt;input name="autoStart" type="text" value="false"/&gt;&lt;br /&gt;
        &lt;input name="submitForm" type="submit" value="Submit"/&gt;
    &lt;/form&gt;
&lt;/body&gt;
&lt;/html&gt;</code></pre>

            The form can be posted with these fields:<br />
            <ul>
                <li>"goList" - Your data (this value is required)</li>
                <li>"cutoff" - [ 0.4 - 0.9 ] (if the value is not provided 0.7 will be assumed)</li>
                <li>"valueType" - [ PValue, Higher, Lower, HigherAbsolute, HigherAbsLog2 ] (if the value is not provided PValue will be assumed)</li>
                <li>"speciesTaxon" - One of the supported NCBI species taxons (0 for the whole UniProt database). (if the value is not provided 0 will be assumed)</li>
                <li>"measure" - [ SIMREL, LIN, RESNIK, JIANG ] (if the value is not provided SIMREL will be assumed)</li>
                <li>"removeObsolete" - [ true, false ] (if the value is not provided true will be assumed)</li>
                <li>"autoStart" - [ true, false ] (if the value is not provided false will be assumed)</li>
            </ul>
            <p style="display: flex; color: red;"><sup>*</sup> The fields "inputGoList", "isPValue", "whatIsBetter" and "goSizes" are deprecated, but can be used for compatibility.
                Please don't use them in the future as it's not guaranteed to work with the new revisions of Revigo.</p>
            <p>If you send a parameter value that is invalid or out of range the error message will be displayed. The field values are not case sensitive.</p>
            <p>After you submit the job via this method depending on the autoStart variable the user will be presented with filled input page (false) or results page (true).</p>
            </div>
            <h3>The simple RESTful API method</h3>
            <div>Post a form to the server at http://revigo.irb.hr/Revigo with the following parameters:<br />
            <ul>
                <li>"goList" - Your data (this value is required)</li>
                <li>"cutoff" - [ 0.4 - 0.9 ] (if the value is not provided 0.7 will be assumed)</li>
                <li>"valueType" - [ PValue, Higher, Lower, HigherAbsolute, HigherAbsLog2 ] (if the value is not provided PValue will be assumed)</li>
                <li>"speciesTaxon" - One of the supported NCBI species taxons (0 for the whole UniProt database). (if the value is not provided 0 will be assumed)</li>
                <li>"measure" - [ SIMREL, LIN, RESNIK, JIANG ] (if the value is not provided SIMREL will be assumed)</li>
                <li>"removeObsolete" - [ true, false ] (if the value is not provided true will be assumed)</li>
            </ul>
            <p>If you send a parameter value that is invalid or out of range you will get the error message. The field values are not case sensitive.</p>
            <p>The advantage of this method is that cookies and java script are not needed, you don't have to query job status, and the server doesn't store your temporary results. 
                The results will be available immediately after the job completes.</p>
            <p>The output is in HTML format, it has "ErrorMessage" element in which you can find error description(s) (if any error occured) and table for each available namespace with the following names: 
                "BiologicalProcess", "CellularComponent" and "MolecularFunction". The tables have following columns: "Term ID", "Name", "Frequency", "Value", "Uniqueness", "Dispensability", "Eliminated" and "Representative".
                The "Representative" value of -1 means the term has no representative, it represents itself.</p>
            <h4>Programming examples</h4>
            <ul>
                <li><a href="@Url.Content("~/Examples/Code/revigo_restful.cs.txt")" target="_blank">C#</a></li>
                <li><a href="@Url.Content("~/Examples/Code/revigo_restful.py.txt")" target="_blank">Python</a></li>
                <li><a href="@Url.Content("~/Examples/Code/revigo_restful.R.txt")" target="_blank">R</a></li>
                <li><a href="@Url.Content("~/Examples/Code/revigo_restful.sh.txt")" target="_blank">Bash shell</a></li>
            </ul>
            </div>
            <h3>The advanced job submitting method</h3>
            <div><p>The advantage of this method is that cookies and java script are not needed and you can get all of the results.</p>
            <p style="color:red;font-size:larger;">Important: The methods 'QueryJobStatus' and 'ExportJob' are deprecated in favor of 
                'QueryJob' method, the deprecated methods worked untill December 12 2022 when we made some changes to Revigo core and
                divided the Table, 2D Scatterplot and 3D Scatterplot data into separate entities: 'table', 'scatterplot' and 'scatterplot3d' methods.
                So, please, update your scripts accordingly.</p>
            <p>The process of submitting jobs is divided into three stages:</p>
            <h4>1) Submit the job to the server</h4>
            Submit the job at http://revigo.irb.hr/StartJob with the following parameters:<br />
            <ul>
                <li>"goList" - Your data (this value is required)</li>
                <li>"cutoff" - [ 0.4 - 0.9 ] (if the value is not provided 0.7 will be assumed)</li>
                <li>"valueType" - [ PValue, Higher, Lower, HigherAbsolute, HigherAbsLog2 ] (if the value is not provided PValue will be assumed)</li>
                <li>"speciesTaxon" - One of the supported NCBI species taxons (0 for the whole UniProt database). (if the value is not provided 0 will be assumed)</li>
                <li>"measure" - [ SIMREL, LIN, RESNIK, JIANG ] (if the value is not provided SIMREL will be assumed)</li>
                <li>"removeObsolete" - [ true, false ] (if the value is not provided true will be assumed)</li>
            </ul>
            <p>If you send a parameter value that is invalid or out of range the error will be returned. The field values are not case sensitive.</p>

            StartJob method returns JSON object in the following format: {"jobid": 0, "message": ""}<br />
            <ul>
                <li>"jobid" - Job ID which you need every time you query server about your job. The -1 will be returned if error occured.</li>
                <li>"message" - Contains description of warning or an error. Empty if no warning or error occured.</li>
            </ul>
            <br />
            <h4>2) Wait for the job to complete</h4>
            Query the job status at http://revigo.irb.hr/QueryJob?jobid=...&type=jstatus with the following parameters:<br />
            <ul>
                <li>"jobid" - Job ID that you collected from the previous step.</li>
                <li>"type" - jstatus .</li>
            </ul>

            QueryJob - jstatus method returns JSON object in the following format: {"running": 0, "progress": 0, "message": ""}<br />
            <ul>
                <li>"running" - [0, 1] Flag that represents if the job is still running (1) or if it's complete (0).</li>
                <li>"progress" - Percentage of completion.</li>
                <li>"message" - The current state of calculation in text form.</li>
            </ul>
            <br />
            <h4>3) Gather the results</h4>
            Gather the job results at http://revigo.irb.hr/QueryJob?jobid=...&... with the following parameters:<br />
            <ul>
                <li>"jobid" - Job ID that you collected in the first step.</li>
                <li>"namespace" - [1, 2, 3] The namespace for which you are collecting results. 1 represents BIOLOGICAL_PROCESS, 2 represents CELLULAR_COMPONENT, 3 represents MOLECULAR_FUNCTION.</li>
                <li>"type" - [jStatus, jInfo, jTable, Table, jScatterplot, Scatterplot, RScatterplot, jScatterplot3D, Scatterplot3D, jCytoscape, Xgmml, jTreeMap, TreeMap, RTreeMap, jClouds, SimMat] The type of the output that you require.<br />
                    <div style="margin-left:3rem;">
                        - <b>jStatus</b> (doesn't require namespace parameter) gets the job status in a JSON format.<br />
                        - <b>jInfo</b> (doesn't require namespace parameter) gets the job information in a JSON format.<br />
                        - <b>jTable</b> gets the table in a JSON format.<br />
                        - <b>Table</b> gets the table in a tab separated values format.<br />
                        - <b>jScatterplot</b> gets the 2D Scatterplot data in a JSON format.<br />
                        - <b>Scatterplot</b> gets the 2D Scatterplot data in a tab separated values format.<br />
                        - <b>RScatterplot</b> gets the R script for 2D Scatterplot.<br />
                        - <b>jScatterplot3D</b> gets the 3D Scatterplot data in a JSON format.<br />
                        - <b>Scatterplot3D</b> gets the 3D Scatterplot data in a tab separated values format.<br />
                        - <b>jCytoscape</b> gets the Cytoscape data in JSON format.<br />
                        - <b>Xgmml</b> gets the Cytoscape data in xgmml format.<br />
                        - <b>jTreeMap</b> gets the Tree Map data in a JSON format.<br />
                        - <b>TreeMap</b> gets the Tree Map data in a tab separated values format.<br />
                        - <b>RTreeMap</b> gets the R script for Tree Map.<br />
                        - <b>jClouds</b> gets the word cloud in a JSON format.<br />
                        - <b>SimMat</b> gets the Term Similarity Matrix in a tab separated values format.</div></li>
            </ul>
            <p>QueryJob method returns the object in the format you specified, or an error message. If the error occured, 
            parameters are invalid or no data is available for a given namespace.</p>
            <p><b>The server will keep the results for 15 minutes since your last Job command.</b></p>
            <h4>Programming examples</h4>
            <ul>
                <li><a href="@Url.Content("~/Examples/Code/revigo.cs.txt")" target="_blank">C#</a></li>
                <li><a href="@Url.Content("~/Examples/Code/revigo.py.txt")" target="_blank">Python</a></li>
                <li><a href="@Url.Content("~/Examples/Code/revigo.R.txt")" target="_blank">R</a></li>
                <li><a href="@Url.Content("~/Examples/Code/revigo.sh.txt")" target="_blank">Bash shell</a></li>
            </ul></div></div>
        </div>
    </div>
</div>
@section Scripts {
    <script type="text/javascript">
        $("#accordion").accordion({ collapsible: true, active: false, heightStyle: "content" });
        $("#accordion1").accordion({ collapsible: true, active: false, heightStyle: "content" });
        $("#accordion").accordion("option", "active", parseInt(window.location.hash.substring(2)) - 1);
    </script>
}